body {
    padding:0;
    margin:0;
    background-color: #272822;
    color: #C3C3C3
}

#tabs {
}

.control-tab {
    padding: 5em;
}

.control-tab .input-group {
    padding: 1em;
}

.control-tab .btn-group {
    padding: 1em;
}

#editor {
    position: relative;
    width: 100%
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
